.same {
    background-color: rgb(56, 56, 135);
    color: white;
    margin: 10px;
    padding: 15px;
    display: inline-block;
    clear: both; /* This will make sure the inline-block elements appear below the floated elements */
    position: relative;
}

.purple {
    padding: 10px;
    margin: 10px;
    background-color: purple;
    color: white;
    float: left;
}


/*CSS POSITION NA W3C SCHOOLS!! POCZYTAJ*/

.little{
    padding-bottom: 5px;
}

.middle{
    padding-bottom: 20px;
}

.big {
    padding-bottom: 45px;
}


h3{
    margin: 15px;
    padding:10px;
    color:white;
    background-color: rgb(29, 68, 22);
    text-align: left;
}


#box1
{
    padding-bottom: 50px;
    box-shadow: 5px 5px 5px pink;
}